body{
	background-image: linear-gradient(rgba(104, 104, 104, 0.3), rgba(104, 104, 104, 0.3)), url(back.jpg);
	background-size: cover;
    font-family: Lato;
    font-weight: 300;
}

.shell{
	width: 800px;
	margin: 0 auto;
}

.title_box, .report_title_box{text-align: center;}

.title_box h1{font-size: 32px;}

.town_input{text-align: center;}

.shell select{
	width: 200px;
	height: 30px;
	border-radius: 5px;
}

.street_park_input{
	margin-top: 50px;
	border: 1px solid #000;
	border-style: dashed;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

.street_park_input h3{color: #f95c5c;}

.street_park_input input{
	height: 30px;
	width: 100%;
	border-radius: 5px;
	border-style:none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.street_park_input input:focus{outline: none;}

.street_input_box{
	width: 45%;
	float: left;
	margin-right: 70px;
}
.park_input_box{
	width: 45%;
	float: left;
}

.buttons_box{
	width: 100%;
	margin-top: 20px;
	display: inline-block;
}

.save_street_btn, .save_park_btn, .report_btn{
	width: 150px;
	height: 35px;
	float: left;
	margin-right: 20px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color: #f95c5c;
}

.report_btn{background-color: #4bcad1;}

.report_box{
	border: 1px solid #000;
	margin-top: 50px;
	border-style: dashed;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	
}

.report_global{
	display: none;
	border: 1px solid black;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
}

.report_street_park_box{display: inline-block;}

.report_street_park_box h2{color: #f95c5c;}

.report_street_box{
	width: 350px;
	margin-right: 50px;
	float: left;
}
.report_park_box{
	width: 350px;
	float: left;
}

.del_btn{
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	float: right;
	color: #fff;
	background-color: #f95c5c;
}